<div class="sidebar affix hidden-xs hidden-sm">
    <div class="section">
        <div class="section-heading">Filter</div>
        <ul class="nav nav-stacked">
            <li><a href="/filter/?type=article">article</a></li>
            <li><a href="/filter/?type=video">video</a></li>
            <li><a href="/filter/?type=image">image</a></li>
        </ul>
    </div>
    {#<div class="section">
        <ul class="nav">
            <li>asdasd</li>
            <li>asdasd</li>
            <li>asdasd</li>
            <li>asdasdas</li>
        </ul>
    </div>#}
</div>